@font-face {
  font-family: "Aeonik Bold";
  src:
    url("../fonts/Aeonik-Bold.woff2") format("woff2"),
    url("../fonts/Aeonik-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aeonik Medium";
  src:
    url("../fonts/Aeonik-Medium.woff2") format("woff2"),
    url("../fonts/Aeonik-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aeonik";
  src:
    url("../fonts/Aeonik-Regular.woff2") format("woff2"),
    url("../fonts/Aeonik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "VAG Rounded Black";
  src:
    url("../fonts/VAGRoundedBlack.woff2") format("woff2"),
    url("../fonts/VAGRoundedBlack.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
