<section class="main-index page-width">
  <h1>{{ section.settings.heading }}</h1>
  {%- if section.settings.subheading != blank -%}
    <p>{{ section.settings.subheading }}</p>
  {%- endif -%}
</section>

{% schema %}
{
  "name": "Homepage",
  "settings": [
  ],
  "presets": [
    {
      "name": "Homepage"
    }
  ]
}
{% endschema %}
