<section class="product-details">
    <div class="container">
        <div class="product-details__wrapper">
            <div class="product-details__visual">
                <div class="product-slider swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a class="gallery" href="images/img07-lg.webp" data-pswp-width="2400" data-pswp-height="2400">
                                <img src="images/img07.webp" alt="image" />
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="gallery" href="images/img09.webp" data-pswp-width="744" data-pswp-height="744">
                                <img src="images/img09.webp" alt="image" />
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="gallery" href="images/img10.webp" data-pswp-width="795" data-pswp-height="795">
                                <img src="images/img10.webp" alt="image" />
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="gallery" href="images/img07-lg.webp" data-pswp-width="2400" data-pswp-height="2400">
                                <img src="images/img07.webp" alt="image" />
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="gallery" href="images/img09.webp" data-pswp-width="744" data-pswp-height="744">
                                <img src="images/img09.webp" alt="image" />
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="gallery" href="images/img10.webp" data-pswp-width="795" data-pswp-height="795">
                                <img src="images/img10.webp" alt="image" />
                            </a>
                        </div>
                    </div>
                    <div class="swiper-controls">
                        <div class="swiper-button-prev link-circle">
                            <div class="link-circle__content">
                                <div class="link-circle__icon">
                                    <svg width="7" height="12"><use xlink:href="images/sprite.svg#prev"></use></svg>
                                </div>
                                <div class="link-circle__icon link-circle__icon--duplicate">
                                    <svg width="7" height="12"><use xlink:href="images/sprite.svg#prev"></use></svg>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next link-circle">
                            <div class="link-circle__content">
                                <div class="link-circle__icon">
                                    <svg width="7" height="12"><use xlink:href="images/sprite.svg#next"></use></svg>
                                </div>
                                <div class="link-circle__icon link-circle__icon--duplicate">
                                    <svg width="7" height="12"><use xlink:href="images/sprite.svg#next"></use></svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-details__main">
                <div class="product-details__header fade-in-wrapper">
                    <nav aria-label="breadcrumb ">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        </ol>
                    </nav>
                    <h1>Replacement lithium battery (1x battery)</h1>
                </div>

                <div class="product-details__art fade-in">SKU: #12345678</div>

                <div class="product-details__desc fade-in-wrapper">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>

                <form action="#" class="fade-in-wrapper">
                    <div class="product-details__number">
                        <div class="product-number">
                            <button type="button" class="product-number-less">
                                <svg width="10" height="2" viewBox="0 0 10 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.75 0.75H8.75" stroke="#002341" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                </button>
                                <input type="text" class="product-number-input" value="1" />
                                <button type="button" class="product-number-more">
                                <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.75 0.75V8.75" stroke="#002341" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M0.75 4.75H8.75" stroke="#002341" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </button>
                        </div>
                        <div class="product-details__price">$49.95</div>
                    </div>

                    <div class="product-details__buttons">
                        <button type="submit" class="button button--dark btn-cart">
                            <span class="button__wrapper">
                                <span class="button__circle">
                                    <svg width="13" height="9"><use xlink:href="images/sprite.svg#arr-navy"></use></svg>
                                </span>
                                <span class="button__text">
                                    <span>Add to Cart</span>
                                    <span class="duplicate">Add to Cart</span>
                                </span>
                                <span class="button__circle">
                                    <svg width="13" height="9"><use xlink:href="images/sprite.svg#arr-navy"></use></svg>
                                </span>
                            </span>
                            <span class="btn-cart__loader">
                                <svg width="60" height="60" viewBox="0 0 38 38">
                                    <g transform="translate(19 19)">
                                    <g transform="rotate(0)">
                                        <circle cx="0" cy="12" r="3" fill="#fff" opacity="0.125"><animate attributeName="opacity" from="0.125" to="0.125" dur="1.2s" begin="0s" repeatCount="indefinite" keyTimes="0;1" values="1;0.125"></animate></circle>
                                    </g>
                                    <g transform="rotate(45)">
                                        <circle cx="0" cy="12" r="3" fill="#fff" opacity="0.25"><animate attributeName="opacity" from="0.25" to="0.25" dur="1.2s" begin="0.15s" repeatCount="indefinite" keyTimes="0;1" values="1;0.25"></animate></circle>
                                    </g>
                                    <g transform="rotate(90)">
                                        <circle cx="0" cy="12" r="3" fill="#fff" opacity="0.375"><animate attributeName="opacity" from="0.375" to="0.375" dur="1.2s" begin="0.3s" repeatCount="indefinite" keyTimes="0;1" values="1;0.375"></animate></circle>
                                    </g>
                                    <g transform="rotate(135)">
                                        <circle cx="0" cy="12" r="3" fill="#fff" opacity="0.5"><animate attributeName="opacity" from="0.5" to="0.5" dur="1.2s" begin="0.44999999999999996s" repeatCount="indefinite" keyTimes="0;1" values="1;0.5"></animate></circle>
                                    </g>
                                    <g transform="rotate(180)">
                                        <circle cx="0" cy="12" r="3" fill="#fff" opacity="0.625"><animate attributeName="opacity" from="0.625" to="0.625" dur="1.2s" begin="0.6s" repeatCount="indefinite" keyTimes="0;1" values="1;0.625"></animate></circle>
                                    </g>
                                    <g transform="rotate(225)">
                                        <circle cx="0" cy="12" r="3" fill="#fff" opacity="0.75"><animate attributeName="opacity" from="0.75" to="0.75" dur="1.2s" begin="0.75s" repeatCount="indefinite" keyTimes="0;1" values="1;0.75"></animate></circle>
                                    </g>
                                    <g transform="rotate(270)">
                                        <circle cx="0" cy="12" r="3" fill="#fff" opacity="0.875"><animate attributeName="opacity" from="0.875" to="0.875" dur="1.2s" begin="0.8999999999999999s" repeatCount="indefinite" keyTimes="0;1" values="1;0.875"></animate></circle>
                                    </g>
                                    <g transform="rotate(315)">
                                        <circle cx="0" cy="12" r="3" fill="#fff" opacity="1"><animate attributeName="opacity" from="1" to="1" dur="1.2s" begin="1.05s" repeatCount="indefinite" keyTimes="0;1" values="1;1"></animate></circle>
                                    </g>
                                    </g>
                                </svg>
                            </span>
                        </button>

                        <button type="button" class="button button--shoppay">
                            <span class="button__wrapper">
                                <span class="button__text">
                                    <span>Buy with <img src="images/shoppay.svg" alt="image" /></span>
                                    <span class="duplicate">Buy with <img src="images/shoppay.svg" alt="image" /></span>
                                </span>
                            </span>
                        </button>
                    </div>
                </form>

                <div class="product-details__bundle">
                    <figure><img src="images/img10.webp" alt="image" /></figure>
                    <div class="product-details__bundle-text fade-in-wrapper">
                        <h4>Buy the Bundle instead</h4>
                        <p>Bundle pack: Replacement lithium batteries (3x batteries)</p>
                        <div class="product-details__bundle-price">$79.95</div>
                        <div class="product-details__bundle-btn">
                            <button type="button" class="button button--primary btn-cart">
                                <span class="button__wrapper">
                                    <span class="button__circle">
                                        <svg width="13" height="9"><use xlink:href="images/sprite.svg#arr-navy"></use></svg>
                                    </span>
                                    <span class="button__text">
                                        <span>Add to Cart</span>
                                        <span class="duplicate">Add to Cart</span>
                                    </span>
                                    <span class="button__circle">
                                        <svg width="13" height="9"><use xlink:href="images/sprite.svg#arr-blue"></use></svg>
                                    </span>
                                </span>
                                <span class="btn-cart__loader">
                                    <svg width="60" height="60" viewBox="0 0 38 38">
                                        <g transform="translate(19 19)">
                                            <g transform="rotate(0)">
                                            <circle cx="0" cy="12" r="3" fill="#fff" opacity="0.125"><animate attributeName="opacity" from="0.125" to="0.125" dur="1.2s" begin="0s" repeatCount="indefinite" keyTimes="0;1" values="1;0.125"></animate></circle>
                                            </g>
                                            <g transform="rotate(45)">
                                            <circle cx="0" cy="12" r="3" fill="#fff" opacity="0.25"><animate attributeName="opacity" from="0.25" to="0.25" dur="1.2s" begin="0.15s" repeatCount="indefinite" keyTimes="0;1" values="1;0.25"></animate></circle>
                                            </g>
                                            <g transform="rotate(90)">
                                            <circle cx="0" cy="12" r="3" fill="#fff" opacity="0.375"><animate attributeName="opacity" from="0.375" to="0.375" dur="1.2s" begin="0.3s" repeatCount="indefinite" keyTimes="0;1" values="1;0.375"></animate></circle>
                                            </g>
                                            <g transform="rotate(135)">
                                            <circle cx="0" cy="12" r="3" fill="#fff" opacity="0.5"><animate attributeName="opacity" from="0.5" to="0.5" dur="1.2s" begin="0.44999999999999996s" repeatCount="indefinite" keyTimes="0;1" values="1;0.5"></animate></circle>
                                            </g>
                                            <g transform="rotate(180)">
                                            <circle cx="0" cy="12" r="3" fill="#fff" opacity="0.625"><animate attributeName="opacity" from="0.625" to="0.625" dur="1.2s" begin="0.6s" repeatCount="indefinite" keyTimes="0;1" values="1;0.625"></animate></circle>
                                            </g>
                                            <g transform="rotate(225)">
                                            <circle cx="0" cy="12" r="3" fill="#fff" opacity="0.75"><animate attributeName="opacity" from="0.75" to="0.75" dur="1.2s" begin="0.75s" repeatCount="indefinite" keyTimes="0;1" values="1;0.75"></animate></circle>
                                            </g>
                                            <g transform="rotate(270)">
                                            <circle cx="0" cy="12" r="3" fill="#fff" opacity="0.875"><animate attributeName="opacity" from="0.875" to="0.875" dur="1.2s" begin="0.8999999999999999s" repeatCount="indefinite" keyTimes="0;1" values="1;0.875"></animate></circle>
                                            </g>
                                            <g transform="rotate(315)">
                                            <circle cx="0" cy="12" r="3" fill="#fff" opacity="1"><animate attributeName="opacity" from="1" to="1" dur="1.2s" begin="1.05s" repeatCount="indefinite" keyTimes="0;1" values="1;1"></animate></circle>
                                            </g>
                                        </g>
                                    </svg>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="accordion fade-in-wrapper">
                    <div class="accordion__item">
                        <button type="button" class="accordion__item-button">Specifications</button>
                        <div class="accordion__item-body">
                            <div class="accordion__item-inner">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion__item">
                        <button type="button" class="accordion__item-button">Delivery & Returns</button>
                        <div class="accordion__item-body">
                            <div class="accordion__item-inner">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <ul>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                    <li>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</li>
                                    <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion__item">
                        <button type="button" class="accordion__item-button">Warranty</button>
                        <div class="accordion__item-body">
                            <div class="accordion__item-inner">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion__item">
                        <button type="button" class="accordion__item-button">Installation</button>
                        <div class="accordion__item-body">
                            <div class="accordion__item-inner">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion__item">
                        <button type="button" class="accordion__item-button">Product Care</button>
                        <div class="accordion__item-body">
                            <div class="accordion__item-inner">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product-details__share fade-in">
                    <p>Share this product:</p>
                    <ul>
                        <li>
                            <a class="link-circle" href="#">
                                <div class="link-circle__content">
                                    <div class="link-circle__icon">
                                        <svg width="16" height="16"><use xlink:href="images/sprite.svg#facebook"></use></svg>
                                    </div>
                                    <div class="link-circle__icon link-circle__icon--duplicate">
                                        <svg width="16" height="16"><use xlink:href="images/sprite.svg#facebook"></use></svg>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="link-circle" href="#">
                                <div class="link-circle__content">
                                    <div class="link-circle__icon">
                                        <svg width="14" height="15"><use xlink:href="images/sprite.svg#xing"></use></svg>
                                    </div>
                                    <div class="link-circle__icon link-circle__icon--duplicate">
                                        <svg width="16" height="16"><use xlink:href="images/sprite.svg#xing"></use></svg>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <button type="button" class="link-circle btn-copy">
                                <div class="link-circle__content">
                                    <div class="link-circle__icon">
                                        <svg width="16" height="16"><use xlink:href="images/sprite.svg#copy"></use></svg>
                                    </div>
                                    <div class="link-circle__icon link-circle__icon--duplicate">
                                        <svg width="16" height="16"><use xlink:href="images/sprite.svg#copy"></use></svg>
                                    </div>
                                </div>
                                <span class="copy-success">
                                    <svg width="16" height="16"><use xlink:href="images/sprite.svg#copy-success"></use></svg>
                                </span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>