.block-login {
  --container-max: 570px;
  padding: 106px 0 42px;

  h1 {
    justify-content: center;
    margin: 0 0 32px;

    .single-word {
      padding: 0 0.1em 0.1em;
    }
  }

  .form {
    &-submit {
      margin: 0 0 12px;

      .button {
        width: 100%;
      }
    }
  }

  @include media-breakpoint-up(md) {
    padding: 140px 0 84px;
  }

  @include media-breakpoint-up(xl) {
    padding: 176px 0 84px;
  }
}
