.footer {
  background-color: $navy;
  color: $white;
  position: relative;

  &::before,
  &::after {
    background: url(./mark-footer.svg) 0 / cover no-repeat;
    position: absolute;
    transform-origin: center;
  }

  &::before {
    content: "";
    width: 267px;
    height: 420px;
    right: 0;
    top: 0;
    transform: translate3d(45%, -13%, 0) rotate(150deg);
  }

  .container {
    position: relative;
    z-index: 2;
  }

  &__top {
    padding: 42px 0 26px;
    text-align: center;
  }

  &__logo {
    width: 216px;
    margin: 0 auto 20px;
  }

  &__mail {
    a {
      display: inline-block;
      position: relative;
      text-decoration: none;
      overflow: hidden;

      &:hover {
        text-decoration: none;
      }

      &::before,
      &::after {
        content: "";
        border-bottom: 1px solid $white;
        bottom: 0;
        display: block;
        position: absolute;
        width: 100%;
      }
      &::before {
        transform: translateX(-110%);
      }
    }
  }

  &__center {
    border: 1px solid $white-150;
    border-width: 1px 0;
  }

  &__company {
    padding: 18px 0 20px;

    figure {
      width: 117px;
      margin: 0 0 15px;
    }

    p {
      margin: 0;
    }
  }

  &__menu {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        border-top: 1px solid $white-150;
      }

      .link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 47px;
        font-family: $ff-alt-black;
        color: $white;
        text-decoration: none;
        font-size: 13px;
        line-height: 131%;
        letter-spacing: 0.04em;
        text-transform: uppercase;

        &__text {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          line-height: 1;
          height: 1em;

          span {
            transform: translateY(0%) rotate(0.001deg);
            transition:
              transform 0.8s cubic-bezier(0.2, 1.33, 0.25, 1),
              color 0.2s ease;
            transform-origin: left bottom;
            display: inline-block;
            position: relative;
            color: var(--btn-color);

            &.duplicate {
              position: absolute;
              top: 0;
              transform: translateY(101%) rotate(-12deg);
              transform-origin: right top;
              user-select: none;
              pointer-events: none;
              color: var(--btn-color-hover);
            }
          }
        }

        &__icon {
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          position: relative;
          width: 20px;
          height: 20px;
          margin-left: 20px;
          border-radius: 100%;
          background-color: $blue;

          svg {
            width: 11px;
          }

          span {
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: transform 0.8s cubic-bezier(0.2, 1.33, 0.25, 1);
            transform: translateY(0%) rotate(0.001deg);
            transform-origin: left bottom;

            &.duplicate {
              position: absolute;
              transform-origin: right top;
              transform: translateY(101%) rotate(-12deg);
              user-select: none;
              pointer-events: none;
            }
          }
        }
      }
    }
  }

  &__bottom {
    padding: 22px 0;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      font-family: $ff-md;
      font-size: 11px;
      line-height: 136%;
      color: rgba($white, 0.7);

      li {
        margin: 1px 5px;
      }

      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }

  @include media-breakpoint-up(md) {
    &__top {
      padding: 68px 0 32px;
      text-align: left;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }

    &__logo {
      width: 247px;
      margin: 0;
    }

    &__center {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    &__company {
      padding: 20px 52px 20px 0px;
    }

    &__menu {
      border-left: 1px solid $white-150;

      ul {
        height: 100%;
        display: flex;
        flex-direction: column;

        li {
          height: 100%;

          &:first-child {
            border: none;
          }
        }

        .link {
          height: 100%;
          padding: 0 0 0 20px;
        }
      }
    }

    &__bottom {
      padding: 32px 0;

      ul {
        justify-content: flex-start;
        font-size: 13px;
        line-height: 138%;

        li {
          margin: 0 0 0 20px;

          &:first-child {
            margin-left: 0;
          }

          &:nth-child(3) {
            margin-left: auto;
          }
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    &::before {
      transform: translate3d(14%, -22%, 0) rotate(-30deg);
    }

    &::after {
      content: "";
      width: 191px;
      height: 300px;
      left: 4px;
      bottom: -14px;
      transform: rotate(180deg);
    }

    &__company {
      padding: 26px 84px 26px 0px;
    }

    &__mail {
      transform: translate3d(0, 8px, 0);
      a {
        padding: 2px 0;
        font-size: 18px;

        &:hover {
          &::before {
            transform: translateX(0);
            transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
          }
          &::after {
            transform: translateX(110%);
            transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
          }
        }
      }
    }

    &__menu {
      ul {
        .link {
          font-size: 16px;
          padding: 0 0 0 23px;

          &__icon {
            width: 24px;
            height: 24px;

            svg {
              width: 13px;
            }
          }

          &:hover {
            .link__text {
              span {
                transform: translateY(-101%) rotate(-12deg);

                &.duplicate {
                  transform: translateY(0%) rotate(0.001deg);
                }
              }
            }

            .link__icon {
              span {
                transform: translateY(-101%) rotate(-12deg);

                &.duplicate {
                  transform: translateY(0%) rotate(0.001deg);
                }
              }
            }
          }
        }
      }
    }

    &__bottom {
      padding: 30px 0 56px;

      ul {
        font-size: 13px;
        letter-spacing: 0.04em;

        a {
          display: inline-block;
          position: relative;

          &::before {
            content: "";
            display: block;
            position: absolute;
            bottom: -2px;
            width: 100%;
            height: 1px;
            background-color: $white;
            transform: scaleX(0);
            transform-origin: right center;
            transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
          }

          &:hover {
            opacity: 1;
            &::before {
              transform: scaleX(1);
              transform-origin: left center;
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    &::before {
      width: 318px;
      height: 500px;
    }

    &::after {
      left: 84px;
    }

    &__company {
      padding: 32px 84px 34px 0px;

      figure {
        width: 156px;
        margin: 0 0 20px;
      }
    }
  }
}
