.breadcrumb {
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: rgba($body-color, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin: 0;

  .breadcrumb-item {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;

    & + .breadcrumb-item {
      &::before {
        content: "";
        width: 5px;
        height: 8px;
        margin: 1px 5px 0;
        background: escape-svg($bc);
        opacity: 0.5;
      }
    }

    a,
    span {
      display: inline-block;
      text-decoration: none;
      color: inherit;
    }

    a {
      position: relative;

      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -1px;
        width: 100%;
        height: 1px;
        background-color: $body-color;
        transform: scaleX(0);
        transform-origin: right center;
        transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
      }
    }
  }

  @include media-breakpoint-up(lg) {
    font-size: 13px;
    line-height: 138%;

    .breadcrumb-item {
      & + .breadcrumb-item {
        &::before {
          margin: 1px 7px 0;
        }
      }

      a {
        &:hover {
          color: rgba($body-color, 1);

          &::after {
            transform: scaleX(1);
            transform-origin: left center;
          }
        }
      }
    }
  }
}
