.link-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--lc-bg);
  width: 42px;
  height: 42px;
  border-radius: 100%;

  svg {
    path {
      stroke: var(--lc-color);
      transition: $transition;
    }
    rect,
    circle {
      fill: var(--lc-color);
      transition: $transition;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }

  &__icon {
    width: 100%;
    position: relative;
    display: flex;
    transition: transform 0.8s cubic-bezier(0.2, 1.33, 0.25, 1);
    transform: translateY(0%) rotate(0.001deg);
    transform-origin: left bottom;

    &--duplicate {
      position: absolute;
      transform-origin: right top;
      transform: translateY(101%) rotate(-12deg);
      user-select: none;
      pointer-events: none;
    }
  }

  @include media-breakpoint-up(lg) {
    &:hover {
      .link-circle__icon {
        transform: translateY(-101%) rotate(-12deg);

        &--duplicate {
          transform: translateY(0%) rotate(0.001deg);
        }
      }
    }
  }
}
